@model DBFirst.Models.Student

<h2>Xoá sinh viên</h2>
<h3>Bạn có chắc chắn muốn xoá?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>
        <dt class="col-sm-2">Tên</dt>
        <dd class="col-sm-10">@Model.Name</dd>
        <dt class="col-sm-2">Tuổi</dt>
        <dd class="col-sm-10">@Model.Age</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xoá" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>